* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    background:black;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 20px;
    text-align: center;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    color: white;
}

.container {
    padding: 0 16px;
    color:white;
}


    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: white;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
     background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);#073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #555;
    }

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

ul {
    float: right;
    position: absolute;
    right: 25px;
    top: 10px;
}

li {
    display: inline-block;
    padding: 22px 20px;
}

    li a {
        color: white;
        text-decoration: none;
    }

        li a:hover {
            border: 2px solid yellow;
            background-size: 100% 100%;
            background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
            background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
            #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
            padding: 12px;
            border-radius: 40%;
            transition: 0.5s;
            color: black;
        }

.active {
    width: 59px;
    border: 2px solid rgb(239, 142, 29);
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
    #073AFF00 100%),radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    color: black;
    padding: 12px;
    border-radius: 40%;
}

    .active:hover {
        border: 2px solid deepskyblue;
        background-color: deepskyblue;
        transition: 0.5s;
        padding: 14px;
        
    }
.more {
   color:white;
   
}
.more h1{
    display:flex;
    position:absolute;
    left:195px;
    top:450px;
    text-decoration:underline;
    text-decoration-color:gold;
    text-decoration-thickness:2px;
    text-underline-offset:7px;
    font-size:17px;
}
    .more h2 {
        top:500px;
        left:50px;
        align-items:center;
        font-size: 15px;
        display: flex;
        position: absolute;
        border: 2px solid gold;
        padding:50px;
    }
.quote-1 {
    color: white;
}

    .quote-1 h1 {
        display: flex;
        position: absolute;
        left: 675px;
        top: 450px;
        text-decoration: underline;
        text-decoration-color: gold;
        text-decoration-thickness: 2px;
        text-underline-offset: 7px;
        font-size: 17px;
    }

    .quote-1 h2 {
        top: 500px;
        left: 550px;
        align-items: center;
        font-size: 15px;
        display: flex;
        position: absolute;
        border: 2px solid gold;
        padding: 50px;
    }
    .quote img{
        width:100px;
        height:100px;
        display:flex;
        position:absolute;
        top:175px;
        left:550px;
    }
    .quote h2{
        color:white;
        display:flex;
        position:absolute;
        left:675px;
        top:215px;
    }
.img2 img {
    width: 100px;
    height: 100px;
    display: flex;
   
    position: absolute;
    top: 175px;
    left: 1050px;
}
.quote-2 {
    color: white;
}

    .quote-2 h1 {
        display: flex;
        position: absolute;
        left: 1050px;
        top: 450px;
        text-decoration: underline;
        text-decoration-color: gold;
        text-decoration-thickness: 2px;
        text-underline-offset: 7px;
        font-size: 17px;
    }

    .quote-2 h2 {
        top: 500px;
        left: 950px;
        align-items: center;
        font-size: 15px;
        display: flex;
        position: absolute;
        border: 2px solid gold;
        padding: 50px;
    }